<div class="relative w-full">
  <mat-form-field class="w-full">
    <mat-label>{{ placeholder }}</mat-label>
    <input matInput [(ngModel)]="searchTerm" (keyup.enter)="onSearch()" />
    <button mat-icon-button matSuffix (click)="onSearch()">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <mat-list
    class="absolute bg-white border border-gray-300 rounded-lg mt-1 w-full max-h-48 overflow-y-auto z-10 shadow-lg"
    *ngIf="suggestions.length">
    <mat-list-item *ngFor="let suggestion of suggestions" (click)="onSelectSuggestion(suggestion)">
      <div matListItemAvatar class="avatar-circle">
        {{ suggestion.Username[0] | uppercase }}
      </div>
      <span matListItemTitle>{{ suggestion.Username }}</span>
    </mat-list-item>
  </mat-list>
</div>