<div class="group-detail-container">
  <ng-container *ngIf="!isLoading && groupData; else loading">
    <mat-card class="group-card">
      <mat-card-header>
        <mat-card-title>{{ groupData.Name }}</mat-card-title>
        <mat-card-subtitle *ngIf="groupData.Description">{{ groupData.Description }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <div class="section">
          <h3>Add Members</h3>
          <app-search-bar [suggestions]="userSuggestions" [maxSuggestions]="8" (search)="fetchUsersNotInGroup($event)"
            (suggestionClicked)="handleSelect($event)"></app-search-bar>

          <div class="selected-users" *ngIf="usersToAdd.size > 0">
            <mat-chip-listbox>
              <mat-chip *ngFor="let user of usersToAdd" (removed)="removeUser(user)">
                {{ user.Username }}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
            </mat-chip-listbox>
            <button mat-raised-button color="primary" (click)="addUsersToGroup()">
              <mat-icon>person_add</mat-icon>
              Add Selected Users
            </button>
          </div>
        </div>

        <mat-divider></mat-divider>

        <div class="section">
          <h3>Members</h3>
          <div class="members-grid">
            <app-member *ngFor="let member of groupData.Members" [member]="member.User">
            </app-member>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-container>

  <ng-template #loading>
    <div class="loading-container">
      <mat-spinner diameter="50"></mat-spinner>
      <p>Loading group details...</p>
    </div>
  </ng-template>
</div>