<ng-container *ngIf="groupData; else loading">
  <h2>{{ groupData.Name }}</h2>
  <div>
    <div class="" *ngFor="let user of usersToAdd">{{ user.Username }}</div>
    <button (click) = "addUsersToGroup()">Add Selected Users</button>
  </div>
  <app-search-bar
    [suggestions]="userSuggestions"
    [maxSuggestions]="8"
    (search)="fetchUsersNotInGroup($event)"
    (suggestionClicked)="handleSelect($event)"
  ></app-search-bar>

  <!-- <p>{{ groupData.description }}</p> -->

  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <h3>Members:</h3>
    <app-member *ngFor="let member of groupData.Members" 
                [member]="member.User">
    </app-member>
  </div>
</ng-container>

<ng-template #loading>
  <p>Loading group details...</p>
</ng-template>
