<!-- post-card.component.html (Updated) -->
<mat-card class="post-card">
    <mat-card-header>
      <mat-card-title>{{ post.AuthorFullName }}</mat-card-title>
      <mat-card-subtitle>{{ post.AuthorUsername }} - {{ post.CreatedAt | date:'medium' }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ post.Content }}</p>
      <div *ngIf="post.Attachments && post.Attachments.length > 0">
        <div *ngFor="let attachment of post.Attachments">
          <ng-container *ngIf="isImage(attachment.ContentType)">
            <!-- Display Image -->
            <img [src]="post.Attachments[0].FilePath" [alt]="attachment.FileName" style="max-width: 300px; max-height: 300px; margin-bottom: 10px;">
          </ng-container>
          <ng-container *ngIf="!isImage(attachment.ContentType)">
            <!-- Download Link for other file types -->
            <p>Attachments:</p>
            <p>
              <a mat-button color="primary" [href]="post.Attachments[0].FilePath" [download]="attachment.FileName" target="_blank">
                <mat-icon>download</mat-icon> {{ attachment.FileName }}
              </a>
            </p>
          </ng-container>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="likePost()" *ngIf="!post.IsLikedByCurrentUser">
        <mat-icon>thumb_up</mat-icon> Like ({{ post.LikeCount }})
      </button>
      <button mat-button color="accent" (click)="unlikePost()" *ngIf="post.IsLikedByCurrentUser">
        <mat-icon>thumb_down</mat-icon> Unlike ({{ post.LikeCount }})
      </button>
      <button mat-button (click)="toggleComments()">
        <mat-icon>comment</mat-icon> Comments ({{ post.CommentCount }})
      </button>
    </mat-card-actions>
    <mat-card-content *ngIf="commentsVisible">
      <app-comment-list [PostId]="post.PostId"></app-comment-list>
      <app-comment-create [PostId]="post.PostId" (commentCreated)="onCommentAdded($event)"></app-comment-create>
    </mat-card-content>
  </mat-card>