<mat-toolbar color="primary">
  <span>Community Posts</span>
  <span class="spacer"></span>
  <button mat-icon-button [routerLink]="['/group/detail', groupId]" matTooltip="Group Details">
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>

<div class="container">
  <app-post-create (postCreated)="loadGlobalPosts()" [groupId]="groupId"></app-post-create> <!-- Bind groupId input -->

  <div *ngFor="let post of posts" class="post-wrapper">
    <app-post-card [post]="post"></app-post-card>
  </div>

  <mat-paginator
    [length]="totalPosts"
    [pageSize]="pageSize"
    [pageIndex]="currentPage - 1"
    [pageSizeOptions]="[5, 10, 25, 50]"
    (page)="handlePageEvent($event)"
    ariaLabel="Select page">
  </mat-paginator>

</div>